node_modules/
.git/
.env



app/node_modules/
# app/client/
# app/server/
# app/shared/
# app/utils/
# app/yarn.lock
# app/babel.config.js
# app/.eslintrc.js
# app/.prettierrc.js
# app/webpack.config.js
