# Root level ignores
node_modules/
cert/*
dhparam/
data/
.env

docker-compose.dev.yml
docker-compose.prod.yml


# App level ignores
app/build
app/build/
app/build/*
app/build/server
app/build/server/*
app/build/web
app/build/web/*
app/node_modules
