# Root level ignores
node_modules/
cert/*
dhparam/
data/
.env



# App level ignores
app/client
app/server
app/shared
app/utils
app/babel.config.json
app/package.json
app/webpack.config.js
app/.eslintrc.js
app/.prettierrc.js
app/node_modules
app/yarn.lock
app/yarn-error.log