version: "3.8"

services:
  nodejs:
    build:
      context: .
    container_name: nodejs-container
    networks:
      - app-network
    restart: unless-stopped
  webserver:
    image: nginx:1.17-alpine
    container_name: nginx-container
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./web:/var/www/html
      - ./nginx/nginx.conf:/etc/nginx/conf.d
      - ./cert/etc:/etc/letsencrypt
      - ./cert/var:/var/lib/letsencrypt
    depends_on:
      - nodejs
    networks:
      - app-network
  certbot:
    image: certbot/certbot
    container_name: certbot-container
    volumes:
      - ./cert/etc:/etc/letsencrypt
      - ./cert/var:/var/lib/letsencrypt
      - ./web:/var/www/html
    depends_on:
      - webserver
    command: certonly --webroot --webroot-path=/var/www/html --email bitcoder247@protonmail.com --agree-tos --no-eff-email --staging -d blubelt.com -d www.blubelt.com

networks:
  app-network:
    driver: bridge
